<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">

            <p>Copyright &copy; <a style="color:  rgb(238, 144, 160);">Salhi Fayza </a>DevOps 2022</p>
            </span>
        </div>
    </div>
</footer>